{
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd-mobile",
                "style": "css"
            },
            "mobile"
        ]
    ],
    "presets": [
        "react-app"
    ]
}